<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.Huohuo.Huohuo">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".LeanCloud"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".login.LoginActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".login.RegisterActivity"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".login.LoginError"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".base.BaseActivity"
            android:label="BaseActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".DeliverGoodsActivity"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".DeliverGoodsSendActivity"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="DeliverGoodsInfoActivity"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".PersonalInfoActivity"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".PersonalInfoEditActivity"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".NavQrcodeActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".NavWalletActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".NavRecommendFriendsActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".NavSettingsActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".NavSupportCenterActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".NavAboutUsActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".HomeCommonUsedRouteActivity"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".HomeCommonUsedDriverActivity"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".HomeCommonUsedTruckActivity"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".AddNewRouteActivity"
            android:theme="@style/AppTheme">
        </activity>.
        <activity
            android:name=".AddNewDriverActivity"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".AddNewTruckActivity"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".WalletBandCardActivity"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".WalletBillActivty"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".OrderConfirmActivity"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".OrderInfoActivity"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".WalletSetpwActivity"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".OrderEvaluateActivity"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".FeeScaleActivity"
            android:theme="@style/AppTheme">
        </activity>
    </application>

</manifest>